<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/partly-cloudy-day-64.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/12552750_905156822925291_4922906201668588487_n-01.jpeg" alt="profile img">
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>