<!DOCTYPE html>
<html>

<head>
    <title>test</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <h1>{{title}}</h1>
    <img src="./img/12552750_905156822925291_4922906201668588487_n-01.jpeg" alt="profile img">
    <h3>Created by {{name}}</h3>
</body>

</html>